html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 20px;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.large-container {
    max-width: 1770px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 40px;
    color: #191919;
}

.top {
    background-color: $default-blue-light;
    padding: 30px 15px;
    color: #222933;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    &__title {
        @extend %rubik-300;
        font-size: 36px;
        margin-bottom: 17px;
    }
}

.breadcrumbs {
    margin: 0 auto;
    &__list {
        display: flex;
    }

    &__item {
        @extend %rubik-400;
        font-size: 14px;
        position: relative;
    }

    &__item+.breadcrumbs__item::before {
        content: '/';
        position: absolute;
        left: -13px;
    }

    &__item+.breadcrumbs__item {
        margin-left: 20px;
    }

    &__link {
        color: #737980;
    }
}

.pagination{
    padding: 35px 0;
    display: flex;
    &__link{
    @extend %rubik-400;
    color: $blue-title;
    padding: 15px 18px;
    border: 1px solid $default-blue;
    margin-right: 15px;
    &:hover{
        background-color: $default-blue;
        color: #fff;
    }
}
&__list{
    display: flex;
}
&__item--active{
    background-color: $default-blue;
color: #fff;
}
}

  